h1{
  font-size: 5rem;
}
h2{
  font-size: 3rem;
  color: lightsalmon;

}
body{
  background-color: aliceblue;
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
footer{
  text-align: end;
  color: rgb(2, 19, 255);
}
.main{
  flex:1;
}
.tile-image{
float: left;
margin-right: 50px;
height: 200px;

}
.card{
  width: 45%;
}
.left{
  float: left;
}
.right{
  float: right;

}
.creative{
  color: midnightblue;
}
@media (max-width:680px) {
  .logo{
    width: 100px;
  }

  h1{
    font-size: 3.5rem;
    text-align: center;
  }
  .card{
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }
  .card img {
    margin-bottom: 10px;
    width: 100%;
    display:inline;
    object-fit: cover;
  }
}
